page-home {
  h5{
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    margin: 0;
  }

  .ventas{
    color: steelblue;
    margin-top: 2rem;
    font-size: 4.5em;
    text-align: center;
    font-weight: 900;
    margin: 0;
    font-style: italic;
  }

  .button-outline-md-light {
    margin: 10px 0;
  }

  .club{
    color:white;
    padding: 10px;
  }

  .club h1{
    font-size: 1.4em;
    font-weight: 900;
    font-style: italic;
  }

  .club a{
    color: white;
  }

  .footer{
    background-color: black;
    padding: 40px 20px;
    text-align: center;
  }


}
